/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/d2/ff/4b/d2ff4baa38d352b8a1e5c698d013b459.jpg"); /* Coloque a imagem de fundo */
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 20px 0;
}

header img.perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

h1,
h2 {
  color: #0f0bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 8px 0;
}
table,
th,
td {
  border: 1px solid #030202;
}

th,
td {
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #e3ff68;
}

table tr:nth-child(even) {
  background-color: #37d0ff;
}

table td {
  padding: 10px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(252, 252, 252);
  position: fixed;
  width: 100%;
  bottom: 0;
}
